Função print

In [ ]:
print("1. Hello World") # Exemplo de função print
print("2. Hello", "World") # Mesmo separado por "," um espaço é adicionado entre elas
print("3. Hello", "World", sep = "") # Podemos usar o sep para unir-las
print("5. Hello") # A função print imprime automatcamente /n
print("World")
print("5. Hello", end = "") # Podemos usar end para mudar isso
print("World")

Comentários

In [ ]:
# Usando "#" é possivel adicionar comentários sem alterar o código
'''
Usando essa sequencia
no inicio e fim
é possivel comentar
em multiplas linhas
'''

Tipos

In [19]:
nome = "Ana"
peso = 45.5
ano = 2025

# A função type pode ser utilizada para mostrar o tipo de um dado.
print(type(nome)) #String
print(type(peso)) #float
print(type(ano)) #int

<class 'str'>
<class 'float'>
<class 'int'>

Variáveis

In [32]:
pi = 3.14 # O sinal = atribui valor
print("1.", pi) # 3.14

# Também é possível utilizar o caractere = para atribuir um mesmo valor
# para múltiplas variáveis em um único comando
a = b = c = 3
print("2.", a, b, c)

# Também podemos atribuir valores diferentes para múltiplas variáveis
# com um único comando
a, b, c = 1, 5, 8
print("3.", a, b, c)

# Python diferencia (M)aiúsculas de (m)inúsculas
c1 = 1.0
C1 = "1"
print("4.", c1, type(c1), C1, type(C1))

# Variáveis tipo bool tem que ser maiúsculas
verdadeiro = True
falso = False
print("5.", verdadeiro, type(verdadeiro), falso, type(falso))

# NÚMERO NÃO É NOME DE VARIÁVEL

1. 3.14
2. 3 3 3
3. 1 5 8
4. 1.0 <class 'float'> 1 <class 'str'>
5. True <class 'bool'> False <class 'bool'>

Operadores

In [37]:
a = 10
b = 20

3 + 2 # 5
2 + 1.7 # 3.7
a + 10 # 20

3 - 2 # 1
2 - 1.7 # 0.3
a - b # -10

3 * 2 # 6
2 * 1.7 # 3.4
b * 3 # 60

3 / 2 # 1.5
2 / 1.7 # 1.176470588235294
a / b # 0.5

2 ** 2 # 4
3 ** 2 # 9
a ** b # 100.000.000.000.000.000.000

2 % 2 # 0
3 % 2 # 1
b % 5 # 0

a += 200 # 210
a -= 200 # -180
a *= 200 # 2000
a /= 200 # 0.05
a %= 5 #0

Erros Comuns

In [ ]:
10 / 0 # Divisão por 0
10 % 0 # Resto de divisão por 0

3 + * 3 # Erro de sintaxe
3 + % 3 # Erro de sintaxe
3 - / 3 # Erro de sintaxe
3 * * 3 # Erro de sintaxe

Strings

In [44]:
# Strings de Concatenação
a = "Hello" + "World"
print("1.", a)

b = "Hello" + " World" + "!"
print("2.", b)

nome = "Fulano, "
mensagem = "você está na turma de Estatística!"
print("3.", nome + mensagem)

# Strings de Replicação
c = "Fulano" * 4
print("4.", c)

print("5.", 2 * "Facens ")

letra = "Z"
numero = 10
print("6.", letra * numero)

# Strings vs números
d = 4 + 5
print("7.", d)

e = "4" + "5"
print("8.", e)

"4" + 5 # Erro

1. HelloWorld
2. Hello World!
3. Fulano, você está na turma de Estatística!
4. FulanoFulanoFulanoFulano
5. Facens Facens
6. ZZZZZZZZZZ

Comparações numéricas

In [ ]:
5 < 4 # False

5 > 4 # True

5 <= 4 # False

5 <= 5 # True

5 >= 4 # True

5 != 4 # True

5 == 4 # False

5 == 5.0 # True

5 == 5.000001 # False

5 == "5" # False

Comparações Strings

In [ ]:
# Ordem considerada para os caracteres do alfabeto ABC...XYZabc...xyz

"a" > "b" # False

"a" < "b" # True

"a" == "a" # True

"a" == "A" # False

"A" < "a" # True

"A" > "a" # False

"Z" < "a" # True

"z" < "a" # False

# Para obter a ordem relativa de outros caracteres, consulte a Tabela ASCII

Operadores Lógicos

In [47]:
# O operador and verifica se os dois operandos possuem valor lógico
# verdadeiro. True(1), False(0)
True and True # True

True and False # False

False and True # False

False and False # False

# O operador or verifica se pelo menos um dos dois operandos possui valor
# lógico verdadeiro. True(1), False(0)
True or True # True

True or False # True

False or True
# True

False or False
# False


# O operador not inverte o valor lógico do operando. True(1), False(0)
not True
# False

not False
# True

not True and False
# False

not (True and False)
# True

0

# Nova seção

Exercícios

In [14]:
nome = "Ana"
RA = 248706
codigoDaDisciplina = "AS012TSN1"
ano = 2025

print(nome, end = " - ")
print(RA, end = " - ")
print(codigoDaDisciplina, end = " - ")
print(ano)

Ana - 248706 - AS012TSN1 - 2025

In [ ]:
# Escreva um programa que, dados três números inteiros, imprima o menor deles
numero1, numero2, numero3 = 10, 8, 2
print("O menor número é", min(numero1, numero2, numero3))

O menor número é 2

In [46]:
# Escreva um programa que, dados três números inteiros, imprima os números
# em ordem crescente
numeros = [10, 8, 2]
print(sorted(numeros))

[2, 8, 10]

In [ ]:
#Escrever a seguinte equação, supondo que conhece as variáveis a, b, c

In [ ]:
# Escreva um código que calcule a hipotenusa de um triângulo retângulo, cujos
# catetos são 𝑎 = 6 e 𝑏 = 6.
a = 6
b = 6

c = ((a ** 2) + (b ** 2)) ** 0.5
print(c)

8.48528137423857

In [ ]:
# O programa compara dois números, imprima "Os dois são iguais",
# "O maior número é o primeiro" ou "O maior número é o segundo"
numero1, numero2 = 11, 11

if numero1 == numero2:
  print("Os dois são iguais")
else:
  if numero1 > numero2:
     print("O maior número é o primeiro")
  else:
     print("O maior número é o segundo")

Os dois são iguais